GeoJSON parsing ignores the "id" member  of Feature

The GeoJSON specification, [RFC 7946 section 3.2](https://tools.ietf.org/html/rfc7946#section-3.2) , specifies that:

> If a Feature has a commonly used identifier, that identifier SHOULD be included as a member of the Feature object with the name "id", and the value of this member is either a JSON string or number.

Currently, GEOSwift does not parse or support the `id` member of Feature.

@pwinde Could you please create a pull request to make sure it conforms to that RFC? Thanks